.cm-s-monokai {
  font-size: 1em;
  line-height: 1.5em;
  font-family: inconsolata, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: #272822;
  color: #00d9ff;
}
.cm-s-monokai .CodeMirror-lines {
  padding: 8px 0;
}
.cm-s-monokai .CodeMirror-gutters {
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #272822;
  padding-right: 10px;
  z-index: 3;
  border: none;
}
.cm-s-monokai div.CodeMirror-cursor {
  border-left: 3px solid #727272;
}
.cm-s-monokai .CodeMirror-activeline-background {
  background: #49483e;
}
.cm-s-monokai .CodeMirror-selected {
  background: #49483e;
}
.cm-s-monokai .cm-comment {
  color: #75715e;
}
.cm-s-monokai .cm-string {
  color: #ab3bdf;
}
.cm-s-monokai .cm-number {
  color: #ef66e4;
}
.cm-s-monokai .cm-atom {
  color: #66d9ef;
}
.cm-s-monokai .cm-keyword {
  color: #f92672;
}
.cm-s-monokai .cm-tag {
  color: #f7f44b;
}
.cm-s-monokai .cm-variable {
  color: #a6e22e;
}
.cm-s-monokai .cm-def {
  font-style: italic;
  color: #fd971f;
}
.cm-s-monokai .cm-variable-2 {
  color: #f92672;
}
.cm-s-monokai .cm-property {
  color: #66d9ef;
}
.cm-s-monokai .cm-operator {
  color: #f92672;
}
.cm-s-monokai .CodeMirror-linenumber {
  color: #75715e;
}
