
.cm-s-3024-day .CodeMirror-guttermarker { color: #db2d20; }
.cm-s-3024-day .CodeMirror-guttermarker-subtle { color: #807d7c; }
.cm-s-3024-day span.cm-property, .cm-s-3024-day span.cm-attribute { color: #01a252; }
.cm-s-3024-day .CodeMirror-matchingbracket { text-decoration: underline; color: #a16a94 !important; }

.cm-s-3024-day {
	font-size: 1em;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
    background: #f7f7f7; 
    color: #3a3432;
}
.cm-s-3024-day .CodeMirror-lines {
	padding: 8px 0;
}
/*  */
.cm-s-3024-day .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #f7f7f7;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-3024-day div.CodeMirror-cursor {
	border-left: 3px solid #5c5855;
}
.cm-s-3024-day .CodeMirror-activeline-background {
	background: #e8f2ff;
}
/*  */
.cm-s-3024-day .CodeMirror-selected {
	background: #49483E;
}
.cm-s-3024-day .cm-comment {
	color: #cdab53;
}
.cm-s-3024-day .cm-string {
	color: #5dbaf0;
}
.cm-s-3024-day .cm-number {
	color: #a16a94;
}
.cm-s-3024-day .cm-atom {
	color: #a16a94;
}
.cm-s-3024-day .cm-keyword {
	color: #ee544a;
}
.cm-s-3024-day .cm-tag { 
    color: #ee925c; 
}
.cm-s-3024-day .cm-variable {
	color: #01a252;
}
.cm-s-3024-day .cm-def {
	font-style: italic;
	color: #e8bbd0;
}
.cm-s-3024-day .cm-variable-2 {
	color: #01a0e4;
}
.cm-s-3024-day .cm-property {
	color: #66D9EF;
}
.cm-s-3024-day .cm-operator {
	color: #F92672;
}
.cm-s-3024-day .CodeMirror-linenumber {
	color: #807d7c;
}